.fixed{
    max-height: 400px;
    max-width: 900px;
}
.content{
    height:224px;
   overflow:auto;
}
.highlight {
    background-color: yellow;
}
span{
    padding: 5px;
}
.bg-blue {
    background-color: lightblue;
  }